* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 35px;
  width: 350px;
  border-radius: 18px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  animation: slide 0.8s ease;
}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

input:focus {
  border-color: #3498db;
  outline: none;
  box-shadow: 0 0 8px #3498db55;
}

span {
  font-size: 13px;
  color: red;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border: none;
  background: linear-gradient(135deg, #3498db, #6dd5fa);
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

.success {
  margin-top: 15px;
  color: green;
  text-align: center;
  font-weight: bold;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
